<h1>SignUp Page</h1>

<form method="POST" action="/signup">
  <fieldset>
    Username: <input type="text" name="username"> <br>
    Password: <input type="password" name="pwd"> <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
