<h1>SignUp Page</h1>

<form method="POST">
  <fieldset> <br>
    Username: <input type="text" name="username" required> <br><br>
    Password: <input type="password" name="password" required> <br><br>
    <input type="checkbox" name="super"> I'm a super user. <br><br>
    <input type="submit" value="Submit"> <br><br>
  </fieldset>
</form>
