<h2> File to transfer to <%= @receiver.username %></h2>

<form method="POST" enctype="multipart/form-data" action=<% "upload/" + @receiver.username%> >
  <fieldset>
    <br>
    <!--<input type="text" name="receiver" value= >-->
    Select File : <input type="file" name="file" multiple> <br><br>
    <input type="submit" value="Upload!">
    <!--<input type="button" value="Cancel!" onclick="">--> 
  </fieldset>
</form>
